/*
Suggestion Component
========
*/

.title {
    color: #8e8e8e;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}

/*
Footer Component
========
*/

.text {
    color: #c7c7c7;
}

span {
    display:block;
    width:259px;
    word-wrap:break-word;
    text-align: left;
    padding-top: 20px;
}