.rounded {
    border-radius: 0.25rem;
}

.col-span-4 {
    grid-column: span 4 / span 4;
}

.border {
    border-width: 1px;
}

.bg-white {
    background-color: rgba(255, 255, 255, 1);
    background-color: #FFFFFF;
}

.border-gray-primary {
    border-color: rgba(219, 219, 219, 1);
}

.mb-12 {
    margin-bottom: 3rem;
}

/* /////////// for post */
.Post {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin-bottom: 60px;
    /*margin-left: 20%;*/
    /*margin-right: 20%;*/
    padding-right: 50px;
    margin-right: 34px;
    margin-top: -24%;
}

.Post-user {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: -5px;
}

.Post-user-avatar {
    width: 30px;
    height: 30px;
}

.Post-user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.Post-user-nickname {
    margin-left: 12px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
}

.Post-image-bg {
    background-color: #efefef;
}

.Post-image img {
    display: block;
    width: 110%;
    max-height: 450px;
}

.Post-caption {
    padding: 5px 0px 5px 16px;
    font-size: 14px;
    margin-left: -52%;
}

.Post-likes {
    padding: 5px 0px 5px 16px;
    font-size: 14px;
}

.Post-caption strong {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
}

.Post-time {
    font-weight: lighter;
    font-size: 10px;
    padding-left: 16px;
    padding-bottom: 5px;
    margin-left: -87%;
}

.vjs-fade-out {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.button-no-style {
    text-decoration: none;
    border: none;
    /*padding: none;*/
}

.post-like-button-white {
    display: block;
    background-position: -143px -406px;
    /*background-image: url(./sprite.png);*/
    background-size: 469px 472px;
    background-repeat: no-repeat;
    height: 34px;
    width: 33px;
    padding-left: 10px;
    margin-left: 12px;
    text-indent: -1000%;
}

.post-like-button-black {
    display: block;
    background-position: -229px -401px;
    /*background-image: url(./sprite.png);*/
    background-size: 467px 466px;
    background-repeat: no-repeat;
    height: 34px;
    width: 31px;
    padding-left: 10px;
    margin-left: 12px;
    text-indent: -1000%;
}

.post-icons {
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 54px;
    width: 100%;
    background-color: #FFFFFF;
    cursor: pointer;
}

.post-icons-items {
    margin-left: 9px;
    margin-right: 9px;
}

.last {
    align-items: flex-end;
    margin-left: 77%;
}

/*
Comment SECTION
========
*/
.comment {
    cursor: pointer;

}

.comment-form-container {
    background: #ffffff;
    border: 0;
    display: flex;
    margin-top: 10px;
    width: 557px;
}

.comment-form-textarea {
    resize: none;
    width: 100%;
    margin-right: 58%;
    background: 0 0;
    border: 0;
    color: #262626;
    outline: 0;
    padding: 0;
    margin-top: 15px;
    font-size: 15px;
    font-family: apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}

.comment-form {
    display: flex;
    border-top: 1px solid #efefef;
    margin: auto;
    width: 100%;
}

.comment-form-emoji {
    margin-left: 10px;
    margin-top: 10px;
}

.add-comment-button {
    margin-right: 15px;
    opacity: 0.5;
}

.hamburger {
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
    max-width: 25px;
    max-height: 25px;
}

.add-comment {
    background: 0 0;
    border: 0;
    color: #262626;
    font-size: inherit;
    height: 18px;
    max-height: 80px;
    outline: 0;
    padding: 0;
    resize: none;
}