.post {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin-bottom: 60px;
    margin-top: -10px;
    padding-right: 50px;
    margin-right: 34px;
}

.post-user {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: -5px;
}

.post-image img {
    display: block;
    width: 110%;
    max-height: 450px;
}

.post-time {
    font-weight: 400;
    font-size: 11px;
    padding-left: 20px;
    padding-top: 6px;
    color: #8e8e8e;
    text-transform: uppercase;
    display: flex;
}

.post-icons {
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 54px;
    width: 100%;
    background-color: #FFFFFF;
    cursor: pointer;
}

.post-icons-items {
    margin-left: 9px;
    margin-right: 9px;
}

.last-icon {
    margin-left: 77%;
}
